:root {
    --gradient-color-1: #070252;
    --gradient-color-2: #4B43ED;
    --gradient-color-3: #FA2CA1;
    --gradient-color-4: #EA6DEB;
}

body,
html {
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: linear-gradient(304deg, rgba(7, 2, 82, 1) 0%, rgba(75, 67, 237, 1) 25%, rgba(250, 44, 161, 1) 68%, rgba(234, 109, 235, 1) 100%);
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    width: 100vw;
    min-height: 100%;
    overflow: hidden;
}

body > div, .active-content, .transition-wrap {
    height: 100%;
}

a {
    color: #FFF;
}

@media screen and (min-width: 1170px) {

    .container-fluid,
    .container,
    .admin-container {
        padding: 0 4.44444rem 0 4.44444rem;
    }
}

.container {
    max-width: 1460px;
}

#content-holder h1 {
    font-size: 2.5555555555555554rem;
    line-height: 3.2777777777777777rem;
    letter-spacing: 0rem;
}

#content-holder p,
#content-holder li {
    font-size: 0.9444444444444444rem;
    line-height: 1.5555555555556;
}

#content-holder .is-content p {
    margin-bottom: 1.5555555555556em;
}

.back-to-top a svg {
    fill: #333333;
}

#content-156 #content_027395f8f .spacer {
    height: 6.666666666666667rem;
}

#content-156 #content_d166c8aa2 {
    padding-top: 0rem;
    padding-right: 0rem;
}

#content-156 #content_dfa66bd82 {
    padding-top: 0rem;
    padding-right: 0rem;
}

#content-156 #content_dfa66bd82 .is-content {}

.spacer {
    background-color: transparent;
}

#content-156 #content_fbff35bb6 .spacer {
    height: 16.666666666666668rem;
}

#content-156 #content_7e64480ba .spacer {
    background-color: transparent;
}

#content-156 #content_7e64480ba .spacer {
    height: 0.2777777777777778rem;
}

#content-156 #column_d3e972997 {
    padding-top: 0rem;
    padding-bottom: 2.7777777777777777rem;
}

.back-to-top a svg {
    fill: #ffffff;
}

.container {
    max-width: 100vw !important;
}


@media screen and (min-width: 992px) and (max-width: 1169.98px) {
    .nav_qxoumn5u0 .navbar-inner .hamburger a.menu-icon {
        height: 14px;
    }

    .nav_qxoumn5u0 .navbar-inner .hamburger a.menu-icon span {
        margin-top: 7px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .nav_qxoumn5u0 .navbar-inner .hamburger a.menu-icon {
        height: 14px;
    }

    .nav_qxoumn5u0 .navbar-inner .hamburger a.menu-icon span {
        margin-top: 7px;
    }
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
    .nav_qxoumn5u0 .navbar-inner .hamburger a.menu-icon {
        height: 14px;
    }

    .nav_qxoumn5u0 .navbar-inner .hamburger a.menu-icon span {
        margin-top: 7px;
    }
}

@media screen and (max-width: 543.98px) {
    .nav_qxoumn5u0 .navbar-inner .hamburger a.menu-icon {
        height: 14px;
    }

    .nav_qxoumn5u0 .navbar-inner .hamburger a.menu-icon span {
        margin-top: 7px;
    }
}

h1 {
    color: #fff !important;
    font-weight: 600;
    font-size: 3rem;
}

.no-margin {
    margin: 0;
}

.typewrite {
    display: inline-block;
}

.typewrite>.wrap {
    border-right: 0.25rem solid rgba(255, 255, 255, 0.5);
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.column-content {
    position: relative;
    z-index: 1;
}

#gradient-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.sections {
    min-height: 100%;
    position: relative;
}

.hvo-footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
    padding: 0 0 50px;
    left: 0;
    z-index: 2;
}

.hvo-header {
    position: relative;
    z-index: 2;
    padding: 50px 0;
}

.hvo-header h1 {
    font-weight: 400;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.uppercase {
    text-transform: uppercase;
}

.font-small {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left
}

.no-decoration {
    text-decoration: none;
}

.margin-bottom-lg {
    margin-bottom: 80px;
}

.hvo-footer #content_05d7b1496 {
    opacity: 0.25;
}

.hvo-footer #content_4585f9941 {
    opacity: 0.5;
}

@media screen and (max-width: 1169px) {

    .column,
    .grid-column {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 1170px) {
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .column,
    .grid-column {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 960px) {
    .column {
        padding: 0 30px;
    }

    h1 {
        font-size: 2rem;
    }

    .font-small {
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 0.75rem;
    }

    .hvo-header h1 {
        line-height: 0.75rem;
    }

    .hvo-footer .column:first-of-type {
        display: none;
    }

    .hvo-footer .column {
        width: 100%;
    }

    .hvo-footer {
        padding-bottom: 25px;
    }

    .hvo-header {
        padding-top: 25px;
    }


}
